{% extends 'base.html' %}

{% block title %}E-Neo: Blog{% endblock %}

{% block nav %}
<li><a href="/">Home</a></li>
<li><a href="/blog/">Blogs</a></li>
<li><a href="/tweet/">Tweets</a></li>
<li><a href="https://github.com/E-Neo">Github</a></li>
{% endblock %}

{% block content %}
<div id="show"></div>
<div id="loading" class="container text-center">
  <h2>Loading...</h2>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.bootcss.com/marked/0.4.0/marked.min.js"></script>
<script>
  $(document).ready(function () {
    const blog_id = window.location.pathname.substring(6);
    $.getJSON("/api/blog/" + blog_id, function (data) {
      $("#loading").hide();
      const publish_time = new Date(data.publish_time);
      $("#show")
        .append('<h1>' + data.title + '</h1>'
                + '<p>' + publish_time.toString() + '</p>'
                + marked(data.content));
    })
      .fail(function () {
        $("#loading").hide();
        $("#show div:first-child")
          .append('<h1 class="text-center">404</h1>');
      });;
  });
</script>
{% endblock %}
