{% extends 'base.html' %}

{% block title %}E-Neo: Blog{% endblock %}

{% block nav %}
<li><a href="/">Home</a></li>
<li class="active"><a href="#">Blogs</a></li>
<li><a href="/tweet/">Tweets</a></li>
<li><a href="https://github.com/E-Neo">Github</a></li>
{% endblock %}

{% block content %}
<div id="show" class="list-group"></div>
<div id="loading" class="container text-center">
  <h2>Loading...</h2>
</div>
<div id="more"></div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    const MAX_DATA_LENGTH = 10;

    function update_blogs (query_str) {
      $("#more").empty();
      $.getJSON("/api/blog/" + query_str, function (data) {
        let time_before = false;
        if (data.length > 0) {
          time_before = data[data.length-1].publish_time;
        }
        $("#loading").hide();
        data.forEach(function (x) {
          let publish_time = new Date(x.publish_time);
          $("#show").append('<div id="' + x.id
                            + '"><small>' + publish_time.toString() + '</small>'
                            + '<div class="list-group-item">'
                            + '<a href="/blog/' + x.id + '">' + x.title
                            + '</a>' + '</div></div>');
        });
        if (data.length == MAX_DATA_LENGTH) {
          $("#more").append('<button type="button" class="btn btn-default center-block">More</button>');
          $("#more button").click(function () {
            $("#loading").show();
            update_blogs('?time_before=' + time_before);
          });
        } else {
          $("#more").append('<p class="text-center">--- I am the bottom line. ---</p>');
        }
      });
    }
    update_blogs('');
  });
</script>
{% endblock %}
