{% extends 'base.html' %}

{% block title %}E-Neo: Tweet{% endblock %}

{% block nav %}
<li><a href="/">Home</a></li>
<li><a href="/blog">Blogs</a></li>
<li class="active"><a href="#">Tweets</a></li>
<li><a href="https://github.com/E-Neo">Github</a></li>
{% endblock %}

{% block content %}
<div id="show" class="list-group"></div>
<div id="loading" class="container text-center">
  <h2>Loading...</h2>
</div>
<div id="more"></div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script>
  $(document).ready(function () {
    const MAX_DATA_LENGTH = 10;

    function update_tweets (query_str) {
      $("#more").empty();
      $.getJSON("/api/tweet/" + query_str, function (data) {
        let time_before = false;
        if (data.length > 0) {
          time_before = data[data.length-1].publish_time;
        }
        $("#loading").hide();
        data.forEach(function (x) {
          let publish_time = new Date(x.publish_time);
          $("#show").append('<div id="' + x.id
                            + '"><small>' + publish_time.toString() + '</small>'
                            + '<div class="list-group-item">'
                            + marked(x.content) + '</div></div>');
        });
        if (data.length == MAX_DATA_LENGTH) {
          $("#more").append('<button type="button" class="btn btn-default center-block">More</button>');
          $("#more button").click(function () {
            $("#loading").show();
            update_tweets('?time_before=' + time_before);
          });
        } else {
          $("#more").append('<p class="text-center">--- I am the bottom line. ---</p>');
        }
      });
    }
    update_tweets('');
  });
</script>
{% endblock %}
