{% extends "../base.html" %}

{% block title %}Admin{% end %}

{% block nav %}
<ul class="nav navbar-nav">
  <li class="active"><a href="#">Admin</a></li>
  <li><a href="/admin/blogs">Blogs</a></li>
  <li><a href="/admin/tweets">Tweets</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a href="/logout">Sign out</a></li>
</ul>
{% end %}

{% block body %}
<div id="edit" class="hidden">
  <form class="form-group">
    <textarea id="edit-markdown" class="form-control" rows="10"></textarea>
    <button type="button" id="edit-publish" class="btn btn-default">Publish</button>
    <button type="button" id="edit-cancle" class="btn btn-default">Cancle</button>
  </form>
</div>
<div id="panel">
  <button type="button" id="edit-index" class="btn btn-default">Edit Index</button>
</div>
{% end %}

{% block script %}
<script>
  $(document).ready(function () {
    $("#edit-index").click(function () {
      var text = $("#edit textarea:first-child");
      $.getJSON("/admin/api/index", function (data) {
        $("#panel").hide();
        text.val(data["index"]);
        $("#edit").removeClass("hidden");
        $("#edit-cancle").click(function () {
          $("#edit").addClass("hidden");
          $("#panel").show();
        });
        $("#edit-publish").click(function () {
          $.post("/admin/", {
            type: "edit-index",
            html: text.val()
          }, function () {
            window.location.replace("/admin/");
          });
        });
      });
    });
  });
</script>
{% end %}
