{% extends "../base.html" %}

{% block title %}Admin: Blog{% end %}

{% block nav %}
<ul class="nav navbar-nav">
  <li><a href="/admin/">Admin</a></li>
  <li><a href="/admin/blogs">Blogs</a></li>
  <li><a href="/admin/tweets">Tweets</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a href="/logout">Sign out</a></li>
</ul>
{% end %}

{% block body %}
<div id="edit" class="hidden">
  <form class="form-group">
    <textarea id="edit-title" class="form-control" rows="1"></textarea>
    <textarea id="edit-markdown" class="form-control" rows="10"></textarea>
    <button type="button" id="edit-publish" class="btn btn-default">Publish</button>
    <button type="button" id="edit-cancle" class="btn btn-default">Cancle</button>
  </form>
</div>
<div id="panel">
  <button type="button" id="neo-edit" class="btn btn-default">Edit</button>
  <button type="button" id="neo-delete" class="btn btn-danger">Delete</button>
</div>
<div id="loading" class="container text-center">
  <h2>Loading...</h2>
</div>
<div id="show">
  <div id="{{ slug }}"></div>
</div>
{% end %}

{% block script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script>
  $(document).ready(function () {
    var slug = $("#show div:first-child").attr("id");
    var title = $($("#edit").find("textarea")[0]);
    var text = $($("#edit").find("textarea")[1]);
    $.getJSON("/api/blog/" + slug, function (data) {
      $("#loading").hide();
      $("#show div:first-child")
        .append('<h1>' + data[slug][1] + '</h1>'
                + '<p>' + data[slug][3] + '</p>'
                + marked(data[slug][2]));
      $("#neo-edit").click(function () {
        $("#panel").hide();
        $("#show").hide();
        title.val(data[slug][1]);
        text.val(data[slug][2]);
        $("#edit").removeClass("hidden");
        $("#edit-cancle").click(function () {
          $("#edit").addClass("hidden");
          $("#panel").show();
          $("#show").show();
        });
        $("#edit-publish").click(function () {
          $.post("/admin/blogs", {
            type: "edit",
            slug: slug,
            title: title.val(),
            markdown: text.val()
          }, function () {
            window.location.replace("/admin/blog/" + slug);
          });
        });
      });
      $("#neo-delete").click(function () {
        $.post("/admin/blogs", {
          type: "delete",
          slug: slug
        }, function () {
          window.location.replace("/admin/blogs");
        });
      });
    })
      .fail(function () {
        $("#loading").hide();
        $("#show div:first-child")
          .append('<h1 class="text-center">404</h1>');
      });
  });
</script>
{% end %}
