{% extends "../base.html" %}

{% block title %}Admin: Blogs{% end %}

{% block nav %}
<ul class="nav navbar-nav">
  <li><a href="/admin/">Admin</a></li>
  <li class="active"><a href="#">Blogs</a></li>
  <li><a href="/admin/tweets">Tweets</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a href="/logout">Sign out</a></li>
</ul>
{% end %}

{% block body %}
<div id="new">
  <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#newBlog">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
  <div id="newBlog" class="collapse">
    <form class="form-group" method="post">
      <input type="hidden" name="type" value="new" />
      <textarea name="title" class="form-control" rows="1"></textarea>
      <textarea name="markdown" class="form-control" rows="10"></textarea>
      <button class="btn btn-default" type="submit">Publish</button>
    </form>
  </div>
</div>
<div id="loading" class="container text-center">
  <h2>Loading...</h2>
</div>
<div id="show" class="list-group">
</div>
{% end %}

{% block script %}
<script>
  $(document).ready(function () {
    $.getJSON("/api/blogs", function (data) {
      var slugs = [];
      for (var key in data) {
        slugs.push(key);
      }
      $("#loading").hide();
      slugs.sort().forEach(function (x) {
        $("#show")
          .prepend('<div id=">' + x
                   + '"><small>' + data[x][1] + '</small>'
                   + '<div class="list-group-item"><a href="/admin/blog/' + x
                   + '">' + data[x][0] + '</a></div></div>');
      });
    });
  });
</script>
{% end %}
