{% extends "base.html" %}

{% block title %}E-Neo: Blogs{% end %}

{% block nav %}
<ul class="nav navbar-nav">
  <li><a href="/">Home</a></li>
  <li class="active"><a href="#">Blogs</a></li>
  <li><a href="/tweets">Tweets</a></li>
  <li><a href="https://github.com/E-Neo">Github</a></li>
</ul>
{% end %}

{% block body %}
<div id="loading" class="container text-center">
  <h2>Loading...</h2>
</div>
<div id="show" class="list-group"></div>
{% end %}

{% block script %}
<script>
  $(document).ready(function () {
    $.getJSON("/api/blogs", function (data) {
      var slugs = [];
      for (var key in data) {
        slugs.push(key);
      }
      $("#loading").hide();
      slugs.sort().forEach(function (x) {
        $("#show")
          .prepend('<div id=">' + x
                   + '"><small>' + data[x][1] + '</small>'
                   + '<div class="list-group-item"><a href="/blog/' + x
                   + '">' + data[x][0] + '</a></div></div>');
      });
    });
  });
</script>
{% end %}
